<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if settings.USE_CDN %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    {% else %}
        <!-- TODO: local scripts -->
    {% endif %}

    {% block head %}{% endblock %}
    <title>{% block title %}Taggy{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
